@import url('http://fonts.cdnfonts.com/css/gotham');
@import url(//db.onlinewebfonts.com/c/0f361cd91855471c1142a30bcd51e44f?family=Arsenica+Trial);

body {
    background: radial-gradient(circle, #640e19 0%, #110b19 100%);
}
#title {
    position: absolute;
    text-align: center;
    font-family: "Gotham", sans-serif;
    font-size: 3em;
    font-weight: 500;
    color: white;
    width: 99%;
    height: 100px;
    top: 10%;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s ease-in-out;
}
.country {
    display: flex;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    grid-gap: 15px;
    align-items: center;
    width: 650px;
    height: 25px;
    padding: 1% 0.5%;
    background: linear-gradient(4deg, #1b1428 0%, #1b1428 40%, #6c2732 90%);
    transition: all 0.5s ease-in-out;
}
.flag {
    width: 65px;
    height: 45px;
}
.country-name {
    font-family: "Gotham Thin", sans-serif;
    font-size: 1.75em;
    color: white;
    width: auto;
    height: 25px;
}
.country-added-points {
    position: absolute;
    font-family: "Gotham", sans-serif;
    font-size: 2em;
    font-weight: 400;
    line-height: 25px;
    color: white;
    text-align: center;
    background-image: url("imgs/added-points-bg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
    right: 0px;
    padding: 3.5% 3.5%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, right 0.5s ease-in-out;
}
.country-points {
    font-family: "Gotham", sans-serif;
    font-size: 2em;
    font-weight: 400;
    line-height: 25px;
    color: white;
    width: auto;
    height: 25px;
    margin-left: auto;
}
.place {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    grid-gap: 15px;
    align-items: center;
    width: 0px;
    height: 25px;
    padding: 1% 1%;
    background: url("imgs/place-bg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0;
    transition: width 0.5s ease-out;
}
.place-number {
    font-family: "Gotham", sans-serif;
    font-size: 2.25em;
    font-weight: 600;
    color: white;
    margin: auto;
    margin-left: 50%;
    transform: translate(-50%, -25%);
}