@import url('http://fonts.cdnfonts.com/css/gotham');
@import url(//db.onlinewebfonts.com/c/0f361cd91855471c1142a30bcd51e44f?family=Arsenica+Trial);

body {
    background: radial-gradient(circle, #640e19 0%, #110b19 100%);
}
.country {
    display: flex;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    grid-gap: 15px;
    align-items: center;
    width: 750px;
    height: 50px;
    padding: 1% 1%;
    background: linear-gradient(45deg, #1b1428 60%, #6c2732 100%);
    transition: bottom 1s ease-in-out;
}
.flag {
    width: 75px;
    height: 50px;
}
.country-name {
    font-family: "Gotham Thin", sans-serif;
    font-size: 3em;
    color: white;
    width: auto;
    height: 50px;
}
.country-added-points {
    position: absolute;
    font-family: "Gotham Light", sans-serif;
    font-size: 2.5em;
    color: white;
    text-align: center;
    background-color: aquamarine;
    width: 50px;
    height: 50px;
    padding: 2% 2%;
    right: 150px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, right 1s ease-in-out;
}
.country-points {
    font-family: "Gotham Light", sans-serif;
    font-size: 3em;
    color: white;
    width: auto;
    height: 50px;
    margin-left: auto;
}